@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@layer components {
  .bg-gradient1 {
    background: rgb(0, 237, 255);
    background: linear-gradient(
      56deg,
      rgba(0, 237, 255, 1) 20%,
      rgba(0, 148, 255, 1) 49%,
      rgba(0, 18, 32, 1) 100%
    );
  }
}

@layer components {
  .bg-gradient2 {
    background: rgb(0, 255, 218);
    background: linear-gradient(
      56deg,
      rgba(0, 255, 218, 1) 14%,
      rgba(0, 255, 225, 1) 45%,
      rgba(0, 103, 255, 1) 100%
    );
  }
}

.button {
  @apply cursor-pointer shadow-2xl active:shadow-md active:scale-95 font-semibold rounded-full p-3 px-6;
}
